<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/styles.css ">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <form>
            <input placeholder="location">
            <button>search</button>
        </form>
        <p id="message-content1">
        </p>
        <p id="message-content2">

        </p>
    </div>
    <script src="/javascript/intro.js"></script>
    {{>footer}}
</body>
</html>